# .env.example
PRIVATE_KEY=070ab900db92005954261ad55ce33ef4c44650d2a7c931192c41a9b3f01b348f
RPC_URL=https://westend-asset-hub-eth-rpc.polkadot.io
MONGODB_ATLAS_URI=mongodb+srv://alienufovn:sOgbHDUBU2RgMnfE@alienufovn.0tzgnzs.mongodb.net/?appName=alienufovn
MONGODB_URI_1=mongodb://alienufovn:sOgbHDUBU2RgMnfE@federateddatabaseinstance0-fxlxvy.g.query.mongodb.net/?ssl=true&authSource=admin&appName=FederatedDatabaseInstance0
MONGODB_URI_2=mongodb://alienufovn:sOgbHDUBU2RgMnfE@federateddatabaseinstance1-fxlxvy.g.query.mongodb.net/?ssl=true&authSource=admin&authMechanism=SCRAM-SHA-1&appName=FederatedDatabaseInstance1
MONGODB_ATLAS_SQL=mongodb://alienufovn:sOgbHDUBU2RgMnfE@atlas-sql-6a11518a0bf800d38b7169e9-fxlxvy.g.query.mongodb.net/?ssl=true&authSource=admin&appName=atlas-sql-6a11518a0bf800d38b7169e9
